{% extends "base.html" %} {% load tailwind_tags %} {% load static %} 
{% block content %}
{% load crispy_forms_tags %}

<!-- Blog Entries Column -->
<div class="flex justify-center items-start bg-gray-50 p-4 ">
  
      <div class="flex flex-col rounded shadow-xl  mx-1">
        <div class="flex-shrink-0">
          <img
            class="h-48 w-full object-cover"
            {% if post.image %}
            src="{{ post.image.url }}"
            {% else %}
              src="{% static 'blog/images/default-img.jpg' %}"
            {% endif %}  
            alt="post-image"
          />
        </div>
        
        <div class="flex-1 bg-white p-6 flex flex-col justify-between mb-2">
          <div class="flex-1">                    
              <h3 class="mb-2 text-xl leading-7 font-semibold text-gray-900">
                {{ post.title }}
              </h3>
              <hr>
              <p class="text-base leading-6 text-gray-500 mb-2">
                {{post.content }}
              </p>
            <hr>
          </div>

          <div class=" flex justify-between mt-2">            
            <p>
              <span class="p-1"><i class="fa-solid fa-comment"></i>{{" "}} {{ post.blog_comment }}</span>
              <span class="p-1"><i class="fa-solid fa-eye"></i>{{" "}} {{ post.blog_view }}</span>
              {% include "blog/likes.html" %}
              {% comment %} <span class="p-1"><i class="fa-solid fa-heart"></i>{{" "}} {{ post.blog_like }}</span> {% endcomment %}
            </p>
            <div class="flex text-sm leading-5 text-gray-500">
              <time> {{ post.publish_date|timesince}} </time>
            </div>
          </div>

          <div class="mt-6 flex  flex-col">
            <div class="flex flex-col align-start mb-2">
              <form action="" method="post">
                {% csrf_token %}
                {% comment %} {{comment_form | crispy}} {% endcomment %}
              <textarea name="body" class="form-control"  id="{{ post.author.id }}"cols="30" rows="3" style="resize: none"
              {% if not post.comments.all %}
                            placeholder="No comment yet... add one" ></textarea>
                        {% else %}
                            placeholder="Leave a comment here" ></textarea>
                        {% endif %}></textarea>
              <button type="submit" class="my-1 text-center text-white font-small rounded py-1 px-1 focus:outline-none border-2 border-indigo-400" style="background-color: gray">SEND</button></form>

              <hr>
            </div>
            <div class="flex justify-start">
              <button class="py-2 px-2 font-medium text-white rounded hover:bg-green-400 bg-green-500  transition duration-300 mr-2">Edit</button>
              <button class="py-2 px-2 font-medium text-white rounded hover:scale-90 transition duration-300" style="background-color: red;">Delete</button>
            </div>
            <h4 class="text-center">Comments</h4>
          </div>
          <div>
            {% for comment in comments %}
            <div class='border rounded p-2 pb-0 mb-2 mt-2'>
                <div class='border-b p-2 mb-1 border-gray-300'>
                    {{comment.user}} - <small class='text-secondary'>{{comment.created_on|timesince}} ago</small>
                </div>
                <p>{{comment.body}}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
</div>

{% endblock content %}
