{% extends 'base.html' %} {% load tailwind_tags %} {% block content %} 

<form action="{% url 'user_login' %}" method="post">
  {% csrf_token %}
  <div class="bg-grey-lighter min-h-screen flex flex-col my-2">
    <div
      class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2"
    >
      <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
        <h2 class="mb-8 text-3xl text-center">Sign up</h2>

        <input
          type="text"
          name="username"
          autofocus=""
          autocapitalize="none"
          autocomplete="username"
          maxlength="150"
          required=""
          id="id_username"
          class="block border border-grey-light w-full p-3 rounded mb-4"
          placeholder="Username"
        />

        <input
          type="password"
          class="block border border-grey-light w-full p-3 rounded mb-4"
          required_id="id_password"
          name="password"
          auto_complete="current_password"
          placeholder="Password"
        />

        <button
          type="submit"
          class="w-full text-center py-3 rounded bg-green-600 text-white hover:bg-green-800 focus:outline-none my-1"
        >
          Log In
        </button>
      </div>
      <div class="text-grey-dark mt-6">
Don't have an account?
       <a class="no-underline border-b border-blue text-blue" href="{% url 'register' %}">
          Regiser
        </a>
      </div>
    </div>
  </div>
</form>



{% endblock content %}
