{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <title>Document</title>

    {% tailwind_css %}
  </head>
  <body>
    {% include "navbar.html" %}
    <div class="messages">
      {% if messages %}
      <div class="">
          {% for message in messages %}
          <p {% if message.tags %} class="text-center alert alert-{{ message.tags }}" {% endif %}>
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
              {{ message }}
          </p>
          {% endfor %}
      
        </div>
      {% endif %}
  </div> 
    {% block content %} 
    {% endblock content %}
    <script>
      let element = document.querySelector('.messages');

      setTimeout(function () {
      element.style.display = 'none';
      }, 3000);
  </script>
  </body>
</html>
